body {
    position: relative;
    font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
}
li{
  list-style: none;
}
 /*Top HEad Section Style */
.top-head{
  height: 50px;
  background-color:#202f39;
}
.top-link{
  float: right;
  margin-right: 3%;
}
.top-link li{
  float: left;
  padding-left: 30px;
  padding-top: 10px;
}
.top-link li a{
  color: #fff;
  display: block;
}
.top-link li a:hover{
  color: #f28500;
  text-decoration: none;
}

/* NavBAr Style And Fixed Header */
.affix {
  top:0;
  width: 100%;
  z-index: 9999 !important;
}
.navbar {
  margin-bottom: 0px;
  border-radius: 0;
}
.fix{
  background: #f28500;
  height: 80px;
  opacity: .9;
  border-bottom: 2px solid red;
  -webkit-box-shadow: 0px 10px 23px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 23px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 23px 1px rgba(0,0,0,0.75);
}
.affix ~ .container-fluid {
   position: relative;
   top: 50px;
}
.a-color li{
  padding-top: 14px;
}
.a-color li:hover{
  background: #f28500;
}
.a-color li a{
  text-align: center;
  color: #202f39;
  font-weight: 400;
  font-size: 18px;
  display: inline-block;
  transition: 0.3s ease-out all;
}
.a-color li a:hover{
  color: #f28500;
  transition: 0.3s ease-out all;
}
.a-color a:hover{
  color: #f28500;
  transition: .2s ease-out all;
  -webkit-transform:  scale(1.07);/* Chrome, Safari, Opera */
  transform: scale(1.07);
}
 /*Drop Down List */
.dropdown {
 float: left;
 z-index: 1;
}
.list-group a{
    z-index: 1;
	width:145px;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 170px;
  z-index:
  margin-left: -39px;
 }
.dropdown-content a {
  float: none;
  z-index: 1;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.margin-top{
  margin-top: -20px;
}
.logo{
  width: 149px;
  position: absolute;
  top: -43%;
  left: 5%;
}

#user-profile{
  margin: 0%;
  background: #f4f4f4;
}
#user-profile .user-nav{
  min-height: 600px;
}
#user-profile .img-circle{
  margin-bottom: 4%;
}
#user-profile .user-name h5{
  text-align: center;
  color: #000;
  font-family: serif;
  font-weight: bold;
  font-size: 23px;
}
#user-profile hr{
  border: 2px solid #f28500;
}
#user-profile .user-content{
  /* padding-left: 2%; */
}
#user-profile .profile-head{;
  min-height: 30px;
  width: 99%;
  margin:1%;
  text-align: center;
  line-height: 5rem;
  background: #fff;
}
div.tab {
  float: left;
  width: 100%;
  min-height: 300px;
  margin-bottom: 20px;
}
div.tab button {
  display: block;
  background-color: #fff;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}
div.tab button:hover {
  background-color: #ddd;
  border-left: 4px solid #f28500;
  padding-right: 20px;
}
div.tab button.active {
  background-color: #ccc;

}
.tabcontent {
  margin: 1%;
  padding: 5%;
  width: 99%;
  min-height: 600px;
  background: #fff;
}
/* Booking Section Style  */
.booking-section{
  position: absolute;
  top: 30%;
  left: 10%;
  width: 80%;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
/* Booking Button */
.booking-btn [type=submit]{
  width: 200px;
  height: 50px;
  color: #fff;
  font-size: 23px;
  background: #f28500;
  -webkit-box-shadow: 0px 3px 19px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 19px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 19px 0px rgba(0,0,0,0.75);
}
.booking-btn [type=submit]:hover{
  color: #f4f4f4;
  -webkit-box-shadow: 0px 3px 32px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 32px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 32px 3px rgba(0,0,0,0.75);
}
/* Image Size for Slider*/
.item-class{
  min-height: 500px;
  width: 100%;
}
/* top Content Style */
#top-content{
  padding-top: 70px;
  background: #f2f2f2;
  color: #fff;
  margin-bottom: 60px;
  min-height: 450px;
}
#top-content .heading-h1{
  color: #4c4c4c;
  padding-left: 62px;
  margin: 0 0 26px;
  text-align: left;
  font: 700 30px/30px 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#top-content strong {
  width: 20%;
  background: #fdb902;
  position: relative;
  display: block;
  height: 6px;
  margin-top: 18px;
}
#top-content .heading-h1 hr{
  position: absolute;
  top: -21px;
  left: 0;
  width: 120px;
  height: 100%;
  background: #f28500;
  display: inline-block;
  margin-bottom: 20px;
}
#top-content .number{
  float: left;
  padding: 0;
  font-size: 60px;
  color: #f28500;
}
#top-content .number b{
  color: #fdb902;
}
#top-content .caption{
  float: left;
  margin-left: 15px;
  overflow: hidden;
}
#top-content .caption h3{
  font: 700 23px 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #2c3e50;

}
#top-content .icon{
  padding: 4%;
  width: 155px;
  height: 110px;
}
/* Mid Content Style */
#mid-content{
  min-height: 520px;
}
#mid-content .mid-div-3{
  width: 30.5%;
  margin-left: 2.5%;
  border-bottom: 2px solid #f28500;
}
#mid-content img{
  max-width: 100%;
  display: inline-block;
  height: auto;
  -webkit-transition: 0.3s ease-out all;
  -o-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
}
#mid-content img:hover{
  -webkit-box-shadow: 6px 8px 24px 0 rgba(32, 47, 57, 0.2);
  box-shadow: 6px 8px 24px 0 rgba(32, 47, 57, 0.2);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
#mid-content .mid-div-3 h2{
  margin-bottom: 60px;
  text-align: center;
}
/* Bottom Content Style */
#bottom-content{
  padding-top: 12%;
  background-image: url("../img/counter-bg.jpg");
  background-position: center;
  background-repeat: no-repeat ;
  background-attachment: fixed;
  background-size: cover;
  min-height: 500px;

}
.fa-5x{
  color: #f28500;
  text-align: center;
  margin-bottom: 5%;
}
#bottom-content .counter-number{
  font: 700 38px/42px "Ubuntu", Helvetica, Arial, sans-serif;
  color: #fff;
  font-size: 48px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  opacity: 1;
}
#bottom-content .counter-text{
  font-size: 25px;
  color: #fff;
}
#bottom-content .heading-h3{
  color: #fff;
  text-align: center;
  line-height: 1.2;
  font-size: 40px;
  font-family: "Arvo", "Times New Roman", Times, serif;
  font-weight: 700;
  margin-bottom: 30px;
}
/* Footer Style */
#bottom{
  border-top: 2px solid #f28500;
  margin-top: 0px;
  padding-top: 20px;
  background-color: #202f39;
  min-height: 350px;
  color: #fff;
}
#bottom h1{
  font-family: "PT Sans",sans-serif;
}
#bottom h4{
  margin-bottom: 30px;
  line-height: 1.5;
}
#buttom h2{
  margin-bottom: 30px;
}
#bottom h5{
  padding-top: 15px;
  font-size: 28px;
  font-weight: bold
}
#nav-list li{
  line-height: 1.8rem;
  list-style: none;
  margin-left: -27px;
}
#nav-list li a{
  color: #1fc9be;
  font-size: 18px;
  transition: .3s all ease;
}
#bottom li a:hover{
  color: #fff;
  text-decoration: none;
}
.social-link{
  margin-top: 20px;
  margin-left: -60px
}
.social-link li{
  list-style: none;
  float: left;
  padding-left: 20px;
}
.social-link li a{
  color: #fff;
  text-decoration: none;
}
.social-link li a:hover{
  color: red;

}
.margin-btm{
  margin-bottom: 30px;
}
.red{
  color: #000;
}
.red:hover{
  text-decoration: none;
  color: #202f39;
}
.footer-text-color{
  color: #96a3ab;
}
.min-height{
    min-height: 500px;
}
#policies p{
    font-family: serif;
    font-size: 18px;
}
#about{
    font-size: 18px;
    font-family: serif;
}
/* ***********User Profile *********/
#user-profile{
  margin: 0%;
  background: #f4f4f4;
}
#user-profile .user-nav{
  min-height: 600px;
}
#user-profile .img-circle{
  margin-bottom: 4%;
}
#user-profile .user-name h5{
  text-align: center;
  color: #000;
  font-family: serif;
  font-weight: bold;
  font-size: 23px;
}
#user-profile hr{
  border: 2px solid #f28500;
}
#user-profile .user-content{
  /* padding-left: 2%; */
}
#user-profile .profile-head{;
  min-height: 30px;
  width: 99%;
  margin:1%;
  text-align: center;
  line-height: 5rem;
  background: #fff;
}
div.tab {
  float: left;
  width: 100%;
  min-height: 300px;
  margin-bottom: 20px;
}
div.tab button {
  display: block;
  background-color: #fff;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}
div.tab button:hover {
  background-color: #ddd;
  border-left: 4px solid #f28500;
  padding-right: 20px;
}
div.tab button.active {
  background-color: #ccc;

}
.tabcontent {
  margin: 1%;
  padding: 5%;
  width: 99%;
  min-height: 600px;
  background: #fff;
}
#user-profile .row-margin td input, option{
  width: 80%;
}
.td-design{
  border: 1px solid #f28500;
}
#user-profile .user-bottom{
  margin-right: 2%;
  margin-bottom: 2%;
}
#user-profile .user-bottom input{
  margin-left: 10px;
  background: #f28500;
  color: #fff;
  opacity: .9;

}
#user-profile .user-bottom input:hover{
  opacity: 1;
  -webkit-box-shadow: 0px 0px 46px 6px rgba(235,159,82,1);
-moz-box-shadow: 0px 0px 46px 6px rgba(235,159,82,1);
box-shadow: 0px 0px 46px 6px rgba(235,159,82,1);
}
