<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Dev Testing</title>
</head>
<body bgcolor="lightblue">
	<div id="list">
		<ul>
			<li><a href="{%url 'app:schedule'%}"> My Scheduled Visit </a></li>
			<li><a href="{%url 'app:volunteer'%}"> Volunteer </a></li>
			<li><a href="{%url 'app:policies'%}"> Policies </a></li>
			<li><a href="{%url 'app:refer'%}"> Refer a Friend </a></li>
			<li><a href="{%url 'app:login'%}"> Login </a></li>
			<li><a href="{%url 'app:logout'%}"> Logout </a></li> 
		</ul>
	</div>
	Am logout
</body>
</html>