<!-- {% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %} -->
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Dev Testing</title>
</head>
<body bgcolor="lightblue">
	<div id="list">
		<ul>
			<li> Test1 </li >
			<li><a href="{%url 'app:test'%}"> Test2 </a></li> 
		</ul>
	</div>
	I work
</body>
</html>