{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<section id="about">
	<div class="container">
		<h1> About Us </h1>
			<h2> Our mission </h2>
	    		<p>
	    		Bible hub is a production of the Online Parallel Bible Project. This project is privately owned and supported for the express purpose of sharing Bible study tools online. Most of our work is done by volunteers with an interest in using their technological skills to this end. Please see our contact page for additional information
	    		</p>
	    	<h2> Our organisation </h2>
	    		<p>
	    		Bible hub is a production of the Online Parallel Bible Project. This project is privately owned and supported for the express purpose of sharing Bible study tools online. Most of our work is done by volunteers with an interest in using their technological skills to this end. Please see our contact page for additional information.
	    		</p>
	    	<h2> Our story </h2>
	    		<p>
	    		It all started with one man and a rather good idea. Dutch entrepreneur Geert-Jan Bruinsma realized how useful it would be to connect hotels and guests. From a small office in Amsterdam, he built a website called Bookings.nl. This little startup grew steadily in its first few years. The formula for success was pretty simple: working hard to get it right for our customers. By 2005, we were well on our way to becoming the market leader for European bookers. This growth did not go unnoticed by other large players in the travelsphere. The Priceline Group acquired Bookings.nl in 2006 to give us the Booking.com we know today. Despite evolving from a small startup to a global player, little has changed about our company culture. We move forward by taking lots of small steps and executing at incredible speeds. Our Dutch roots encourage us to never be satisfied and to keep proving ourselves every day.
	    		</p>

	</div>
</section>

{% endblock %}
