{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock%}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
  <link rel="stylesheet" href="{% static "css/mystyle.css" %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

 <header>
<div class="container-fluid top-head">
  <ul class="text-right top-link">
    <li><a style="color:#f28500;" href="#">e-mail@mail.com</a></li>
    <li><a class="fa fa-facebook fa-lg" href="https://en-gb.facebook.com/"></a></li>
    <li><a class="fa fa-twitter fa-lg" href="https://twitter.com/"></a></li>
    <li><a class="fa fa-google-plus fa-lg" href="https://plus.google.com/collections/featured"></a></li>
    <li><a class="fa fa-linkedin fa-lg" href="https://www.linkedin.com/"></a></li>
  </ul>
</div>

<nav class="navbar fix " data-spy="affix" data-offset-top="197">
  <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span style="background:red;"class="icon-bar"></span>
          <span style="background:red;"class="icon-bar"></span>
          <span style="background:red;"class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'app:index' %}"><img class="logo" src="{% static "img/logo.png" %}"></a>

    </div>
    <div>
      <div class="collapse navbar-collapse navbar-right  a-color" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'app:home' %}">Home</a></li>
          <li><a href="{%url 'app:schedule'%}">My Scheduled Visits</a></li>
          <li><a href="{%url 'app:volunteer'%}">volunteer</a></li>
          <li><a href="{%url 'app:refer'%}">Refer a friend </a></li>
          <li><a href="{%url 'app:policies'%}">Policies</a></li>
          <li><a href="{%url 'app:login'%}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

</header>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

  {% block content %}

  {% endblock %}

  </body>

  <footer id="bottom">
  <div class="container margin-btm">
    <div class="row">
      <div class="col-md-4 ">
        <h1>My Home Abroad</h1>
        <h4 class="footer-text-color">we will help anyone out</h4>
        <p class="footer-text-color">Founded by Steven Pfeiffer, Lesley Dingle and Gerald Harrison back in 1989, today their Houston-based law firm is currently the #1 in both yearly cases dealt with and the percentage of all those cases being won.</p>
      </div>
      <div class="col-md-4 text-center">
        <h5 class="margin-btm">Navigation</h5>
        <ul id="nav-list">
          <li><a href="#">Home</a></li>
          <li><a href="#">Home</a></li>
          <li><a href="#">Home</a></li>
          <li><a href="#">Home</a></li>
        </ul>

      </div>
      <div class="col-md-4">
        <h5 class="margin-btm">Contact information</h5>
        <span class="email"><a href="#">email@gmail.com</a></span>
        <ul id="social-link" class="margin-btm">
          <li><a class="fa fa-facebook fa-2x" href="https://en-gb.facebook.com/"></a></li>
          <li><a class="fa fa-twitter fa-2x" href="https://twitter.com/"></a></li>
          <li><a class="fa fa-google-plus fa-2x" href="https://plus.google.com/collections/featured"></a></li>
          <li><a class="fa fa-linkedin fa-2x" href="https://www.linkedin.com/"></a></li>
        </ul> <br>
        <h4><a href="#top">Go To Top</a></h4>
      </div>
    </div>
  </div> <hr>
  <div class="container-fluid text-center">
    <p> © My Home Abroad. All Rights Reserved</p>
  </div>
</footer>

<script type="text/javascript">
$("#Top").click(function(){
 scroll(0,0);
});
</script>
</html>
