{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header fixed">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="" alt=""></a>
    </div>
  </div>
</nav>
<section id="bg-image">
  <div class="container">
    <h1>Photo editor. Design <br> maker. Idea realizer.</h1>
    <h3>Everything you need to make your ideas come to life—photo <br>
        editing, collage making, graphic design—PicMonkey's got it. <br>
        It's never been easier to feed your creative beast.
    </h3>
    <div class="row">
      <a href="index.html"><button type="button" class="btn-shadow col-sm-6 btn1 btn btn-lg btn-info">I want to travel.</button></a>
      <a href="volenteer.html"><button type="button" class="btn-shadow col-sm-6 btn1 btn2 btn btn-lg btn-info">Volunteer.</button></a>
    </div>
  </div>
</section>
</body>
</html>
