{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
<!DOCTYPE html>
<html>

<section id="slider">
  <div class="margin-top">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active item-class">
        <img src="{% static "img/img1.jpg" %}" alt="Los Angeles" style="width:100%;">
      </div>

      <div class="item item-class">
        <img src="{% static "img/img2.jpg" %}" alt="Chicago" style="width:100%;">
      </div>

      <div class="item item-class">
        <img src="{% static "img/img3.jpg" %}" alt="New York" style="width:100%;">
      </div>
    </div>
<!-- Booking Button -->

<a class="navbar-brand" href="index.html"> <img class="logo" src="img/logo.png" alt=""></a>
<div class="booking-section">
  <a class=" booking-btn" href="{%url 'app:bookNow'%}">
    <input class="btn" type="submit" name="" value="Book Now">
  </a>
</div>
  </div>
</div>
</section>
<section id="top-content">
  <div class="container-fluid">
    <h2 class="margin-btm heading-h1">HOW ITS WORKS<strong><hr></strong></h2>
    <div class="row">
      <div class="col-sm-3">
        <div class="number">
          <span><b>0</b>1</span>
        </div>
        <div class="caption">
          <h3>Book Service</h3>
          <img class="icon" src="{% static "img/book-service.png" %}" alt="">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="number">
          <span><b>0</b>2</span>
        </div>
        <div class="caption">
          <h3>Recive Confirmation</h3>
          <img class="icon" src="{% static "img/book-service.png" %}" alt="">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="number">
          <span><b>0</b>3</span>
        </div>
        <div class="caption">
          <h3>Volunteer Contacts</h3>
          <img class="icon" src="{% static "img/business-cards.png" %}" alt="">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="number">
          <span><b>0</b>4</span>
        </div>
        <div class="caption">
          <h3>Meet up & Enjoy</h3>
          <img class="icon" src="{% static "icons/shaking-hands.png" %}" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<section id="mid-content">
  <div class="container-fluid margin-btm">
    <h1 class="margin-btm heading-h1">Practice Areas</h1
    <div class="row">

      <div class="col-md-3 mid-div-3">
        <a href="#">
          <img src="{% static "img/img4.jpg" %}" class="img-responsive" width="550px" height="300px" alt="">
        </a>
        <a class="red" href="#"><h2>Lorem Ipsum is simply dummy text of</h2></a>
      </div>

      <div class="col-md-3 mid-div-3">
        <a href="#">
          <img src="{% static "img/img5.jpg" %}" class="img-responsive" width="550px" height="300px" alt="">
        </a>
        <a class="red" href="#"><h2>Lorem Ipsum is simply dummy text of</h2></a>
      </div>

      <div class="col-md-3 mid-div-3">
        <a href="#">
          <img src="{% static "img/img6.jpg" %}" class="img-responsive" width="550px" height="300px" alt="">
        </a>
        <a class="red" href="#"><h2>Lorem Ipsum is simply dummy text of</h2></a>
      </div>

    </div>
  </div>
</section>
<section id="bottom-content">
  <div class="container-fluid">
    <div class="row  text-center">

      <div class="col-sm-3">
        <div class="counter-icon">
          <i class="fa fa-flag-o fa-5x" aria-hidden="true"></i>
          <div class="counter-number">0115</div>
          <h5 class="counter-text">Countries</h5>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="counter-icon">
          <img class="fa-5x" src="{% static "img/cityscape.png" %}" alt="">
          <div class="counter-number">0090</div>
          <h5 class="counter-text">Cities</h5>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="counter-icon">
          <i class="fa fa-user-o fa-5x" aria-hidden="true"></i>
          <div class="counter-number">0090</div>
          <h5 class="counter-text">Users</h5>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="counter-icon">
          <i class="fa fa-users fa-5x" aria-hidden="true"></i>
          <div class="counter-number">0090</div>
          <h5 class="counter-text">Volunteer</h5>
        </div>
      </div>

    </div>
  </div>
</section>


{% endblock %}
