{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
<!DOCTYPE html>
<html>

<section id="slider">
  <div class="margin-top">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active item-class">
        <img src="{% static "img/img1.jpg" %}" alt="Los Angeles" style="width:100%;">
      </div>

      <div class="item item-class">
        <img src="{% static "img/img2.jpg" %}" alt="Chicago" style="width:100%;">
      </div>

      <div class="item item-class">
        <img src="{% static "img/img3.jpg" %}" alt="New York" style="width:100%;">
      </div>
    </div>
<!-- Booking Button -->
    <div class="booking-section">
      <h1>Example page header </h1>
      <p class="text-center text">We're proud that our law firm offers top-notch legal services for a nationwide affordable pricing! With us you'll never feel like the lawyers are just robbers in suits, besides, we win 98% of all cases. So with us, you chances of winning are as high as they possibly can be!</p>
      <a class=" booking-btn" href="{%url 'app:bookNow'%}">
        <input class="btn btn-lg btn-primary" type="Button" name="" value="Book Now">
      </a>
    </div>
  </div>
</div>
</section>
<section id="top-content">
  <div class="container-fluid">
    <h1 class="margin-btm heading-h1">Practice Areas</h1>
    <div class="row">
      <div class="col-md-2 div-3">
        <h2>Book a Service</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting </p>
      </div>
      <div class="col-md-2 div-3">
        <h2>Receive a Conformation</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,</p>
      </div>
      <div class="col-md-2 div-3">
        <h2>Volunteer Contacts</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,</p>
      </div>
      <div class="col-md-2 div-3">
        <h2>Meet up and enjoy</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,</p>
      </div>
    </div>
  </div>
</section>

<section id="mid-content">
  <div class="container-fluid margin-btm">
    <h1 class="margin-btm heading-h1">Practice Areas</h1
    <div class="row">

      <div class="col-md-3 mid-div-3">
        <a href="#">
          <img src="{% static "img/img4.jpg" %}" class="img-responsive" width="550px" height="300px" alt="">
        </a>
        <a class="red" href="#"><h2>Lorem Ipsum is simply dummy text of</h2></a>
      </div>

      <div class="col-md-3 mid-div-3">
        <a href="#">
          <img src="{% static "img/img5.jpg" %}" class="img-responsive" width="550px" height="300px" alt="">
        </a>
        <a class="red" href="#"><h2>Lorem Ipsum is simply dummy text of</h2></a>
      </div>

      <div class="col-md-3 mid-div-3">
        <a href="#">
          <img src="{% static "img/img6.jpg" %}" class="img-responsive" width="550px" height="300px" alt="">
        </a>
        <a class="red" href="#"><h2>Lorem Ipsum is simply dummy text of</h2></a>
      </div>

    </div>
  </div>
</section>
<section id="bottom-content">
  <div class="container-fluid">
    <h2>We have a long history</h2>
    <h1>of solving legal battles for businesses</h1>
  </div>
</section>


{% endblock %}
