{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div id="bg-image">
  <div class="container">
    <h1>Photo editor. Design <br> maker. Idea realizer.</h1>
    <h3>Everything you need to make your ideas come to life—photo <br>
        editing, collage making, graphic design—PicMonkey's got it. <br>
        It's never been easier to feed your creative beast.
    </h3>
    <div class="row">
      <a href="{%url 'app:home'%}"><button type="button" class="btn-shadow col-sm-6 btn1 btn btn-lg btn-info">I want to travel</button></a>
      <a href="{%url 'app:volunteer'%}"><button type="button" class="btn-shadow col-sm-6 btn1 btn2 btn btn-lg btn-info">I want to Volunteer</button></a>
    </div>
    <p><a href="{%url 'app:home'%}"><button type="button" class="btn-shadow col-sm-6 btn1 btn2 btn btn-lg btn-info">Go to Home</button></a></p>
  </div>
</div>
</body>
</html>
