{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <title>Home | Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static "css/mystyle.css" %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

<div class="container-fluid top-head">
  <ul class="text-right top-link">
    <li><a style="color:#f28500;" href="#">e-mail@mail.com</a></li>
    <li><a class="fa fa-facebook fa-lg" href="https://en-gb.facebook.com/"></a></li>
    <li><a class="fa fa-twitter fa-lg" href="https://twitter.com/"></a></li>
    <li><a class="fa fa-google-plus fa-lg" href="https://plus.google.com/collections/featured"></a></li>
    <li><a class="fa fa-linkedin fa-lg" href="https://www.linkedin.com/"></a></li>
  </ul>
</div>

<nav class="navbar fix " data-spy="affix" data-offset-top="197">
  <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span style="background:red;"class="icon-bar"></span>
          <span style="background:red;"class="icon-bar"></span>
          <span style="background:red;"class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{%url 'app:index'%}"> <img class="logo" src="{% static "img/logo.png" %}" alt=""></a>
    </div>
    <div>
      <div class="collapse navbar-collapse navbar-right  a-color" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'app:index' %}">Home</a></li>
          <li><a href="{%url 'app:schedule'%}">My Scheduled Visits</a></li>
          <li><a href="{%url 'app:volunteer'%}">volunteer</a></li>
          <li><a href="{%url 'app:refer'%}">Refer a friend </a></li>
          <li><a href="{%url 'app:policies'%}">Policies</a></li>
          <li><a href="{%url 'app:login'%}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<section id="slider">
  <div class="margin-top">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active item-class">
        <img src="{% static "img/img1.jpg" %}" alt="Los Angeles" style="width:100%;">
      </div>

      <div class="item item-class">
        <img src="{% static "img/img2.jpg" %}" alt="Chicago" style="width:100%;">
      </div>

      <div class="item item-class">
        <img src="{% static "img/img3.jpg" %}" alt="New York" style="width:100%;">
      </div>
    </div>
<!-- Booking Button -->
    <div class="booking-section">
      <h1>Example page header </h1>
      <p class="text-center text">We're proud that our law firm offers top-notch legal services for a nationwide affordable pricing! With us you'll never feel like the lawyers are just robbers in suits, besides, we win 98% of all cases. So with us, you chances of winning are as high as they possibly can be!</p>
      <a class=" booking-btn" href="BookNow">
        <input class="btn" type="submit" name="" value="Book Now">
      </a>
    </div>
  </div>
</div>
</section>
<section id="top-content">
  <div class="container-fluid">
    <h1 class="margin-btm heading-h1">Practice Areas</h1>
    <div class="row">
      <div class="col-md-2 div-3">
        <h2>Book a Service</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting </p>
      </div>
      <div class="col-md-2 div-3">
        <h2>Receive a Conformation</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,</p>
      </div>
      <div class="col-md-2 div-3">
        <h2>Volunteer Contacts</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,</p>
      </div>
      <div class="col-md-2 div-3">
        <h2>Meet up and enjoy</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,</p>
      </div>
    </div>
  </div>
</section>

<section id="mid-content">
  <div class="container-fluid margin-btm">
    <h1 class="margin-btm heading-h1">Practice Areas</h1
    <div class="row">

      <div class="col-md-3 mid-div-3">
        <a href="#">
          <img src="{% static "img/img4.jpg" %}" class="img-responsive" width="550px" height="300px" alt="">
        </a>
        <a class="red" href="#"><h2>Lorem Ipsum is simply dummy text of</h2></a>
      </div>

      <div class="col-md-3 mid-div-3">
        <a href="#">
          <img src="{% static "img/img5.jpg" %}" class="img-responsive" width="550px" height="300px" alt="">
        </a>
        <a class="red" href="#"><h2>Lorem Ipsum is simply dummy text of</h2></a>
      </div>

      <div class="col-md-3 mid-div-3">
        <a href="#">
          <img src="{% static "img/img6.jpg" %}" class="img-responsive" width="550px" height="300px" alt="">
        </a>
        <a class="red" href="#"><h2>Lorem Ipsum is simply dummy text of</h2></a>
      </div>

    </div>
  </div>
</section>
<section id="bottom-content">
  <div class="container-fluid">
    <h2>We have a long history</h2>
    <h1>of solving legal battles for businesses</h1>
  </div>
</section>

<footer id="bottom">
  <div class="container margin-btm">
    <div class="row">
      <div class="col-md-4 ">
        <h1>Web<i class="red">S</i>ite Name </h1>
        <h4 class="footer-text-color">we will help anyone out</h4>
        <p class="footer-text-color">Founded by Steven Pfeiffer, Lesley Dingle and Gerald Harrison back in 1989, today their Houston-based law firm is currently the #1 in both yearly cases dealt with and the percentage of all those cases being won.</p>
      </div>
      <div class="col-md-4 text-center">
        <h5 class="margin-btm">Navigation</h5>
        <ul id="nav-list">
          <li><a href="#">Home</a></li>
          <li><a href="#">Home</a></li>
          <li><a href="#">Home</a></li>
          <li><a href="#">Home</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="margin-btm">Contact information</h5>
        <span class="email"><a href="#">email@gmail.com</a></span>
        <ul id="social-link" class="margin-btm">
          <li><a class="fa fa-facebook fa-2x" href="#"></a></li>
          <li><a class="fa fa-twitter fa-2x" href="#"></a></li>
          <li><a class="fa fa-google-plus fa-2x" href="#"></a></li>
          <li><a class="fa fa-linkedin fa-2x" href="#"></a></li>
        </ul> <br>
        <h4><a href="#top">Go To Top</a></h4>
      </div>
    </div>
  </div> <hr>
  <div class="container-fluid text-center">
    <p> © Name. All Rights Reserved</p>
  </div>
</footer>
</body>
<script type="text/javascript">
$("#Top").click(function(){
 scroll(0,0);
});
</script>
</html>
