<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Dev Testing</title>
</head>
<body bgcolor="lightblue">
	<center>
	<h1>Fill all the forms</h1>
		<form action="/test" method="post">
			<table>
			<tr>
				<td>First Name:</td>
				<td><input type="name" name="firstname"></td>
			</tr>
			<tr>
				<td>Last Name:</td>
				<td><input type="name" name="lastname"></td>
			</tr>
			<tr>
				<td>Email:</td>
				<td><input type="email" name="email"></td>
			</tr>
			<tr>
				<td>Nationality:</td>
				<td><input type="name" name="nationality"></td>
			</tr>
			<tr>
				<td>Phone no:</td>
				<td><input type="number" name="phone"></td>
			</tr>
			<tr>
				<td>Gender:</td>
				<td><input type="radio" name="gender" value="male" checked="Male">Male
					<input type="radio" name="gender" value="female" checked="Female">Female</td>
			</tr>
			<tr>
				<td>Age:</td>
				<td><input type="number" name="age"></td>
			</tr>
			</table>
		</form>
		<input type="submit" value="Register"><input type="reset" value="clear">
	</center>
</body>
</html>