{% extends 'base.html' %}

{% block content %}
  <body>
    <section id="volenteer">
      <div class="container">
        <div class="row">
          <div class="page-header text-center">
            <h1>Volunteer Registration </h1>
          </div>
          <form class="form-horizontal box">
              <div class="container">
              <h1>Volunteer</h1>
               <form method="post">
               {% csrf_token%}
               {{form.as_p}}
               <button type="submit">Submit</button>
              </form>
              </div>
    </div>
  </div>
  </section>
  </body>
  <script type="text/javascript">
    $("input[type=password]").keyup(function(){
      <!-- Min Lenght 6 -->
    if($("#password1").val().length >= 6){
      $("#8char").removeClass("glyphicon-remove");
      $("#8char").addClass("glyphicon-ok");
      $("#8char").css("color","#00A41E");
    }else{
      $("#8char").removeClass("glyphicon-ok");
      $("#8char").addClass("glyphicon-remove");
      $("#8char").css("color","#FF0004");
    }
    <!-- Match Password -->
    if($("#password1").val() == $("#password2").val()){
      $("#pwmatch").removeClass("glyphicon-remove");
      $("#pwmatch").addClass("glyphicon-ok");
      $("#pwmatch").css("color","#00A41E");
    }else{
      $("#pwmatch").removeClass("glyphicon-ok");
      $("#pwmatch").addClass("glyphicon-remove");
      $("#pwmatch").css("color","#FF0004");
    }
    });
  </script>
  {% endblock %}
</html>
